.header {
	background-image: linear-gradient(315deg,#130f40 0,#000 74%);
	position: relative;
	display: flex;
	color: #fff;
	padding: 4px;
	margin: 1px;
	align-items: center;
	justify-content: center;
	border: 1px solid #a6a6a6;
	text-align: center;
	font-weight: 700;
}

.headerlogo {
	float: left;
	align-items: center;
	overflow: hidden;
}

.trans {
	position: absolute;
	top: 0;
	right: 0;
}

.donate {
	text-align: center;
	margin: 0;
	color: #fff;
	font-size: 9px;
	font-weight: 700;
	background-color: #212121;
  }
  
  .donate table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .donate td {
	width: 33.33%;
	padding: 5px;
	border: 1px solid #717171;
	transition: background-color 0.3s ease-in-out;
	text-align: center;
  	vertical-align: middle;
  }
  
  .donate td:hover {
	background-color: #333;
  }
  
  .link {
	text-decoration: none;
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
  }
  
  .link:hover {
	text-decoration: none;
	color: #fff;
  }

.button {
	outline: 0;
	padding: 5px;
	margin: 5px;
	display: inline;
	color: #9fa8b0;
	font-weight: 700;
	text-shadow: 1px 1px #1f272b;
	border: 1px solid #1c252b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #232b30;
	background: -moz-linear-gradient(top,#3d4850 3%,#313d45 4%,#232b30 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(3%,#3d4850), color-stop(4%,#313d45), color-stop(100%,#232b30) );
	box-shadow: 1px 1px 1px rgb(0 0 0/0.2);
	-moz-box-shadow: 1px 1px 1px rgb(0 0 0/0.2);
	-webkit-box-shadow: 1px 1px 1px rgb(0 0 0/0.2);
}

.button:hover {
	color: #fff;
	background: #4c5a64;
	background: -moz-linear-gradient(top,#4c5a64 3%,#404f5a 4%,#2e3940 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(3%,#4c5a64), color-stop(4%,#404f5a), color-stop(100%,#2e3940) );
}

.button:active {
	background-position: 0 top;
	top: 1px;
	color: #fff;
	padding: 5px;
	background: #20282d;
	background: -moz-linear-gradient(top,#20282d 3%,#252e34 51%,#222a30 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(3%,#20282d), color-stop(51%,#252e34), color-stop(100%,#222a30) );
}

.iconimg {
	display: inline-flex;
	vertical-align: top;
}

#onmatchtxt {
	font-size: 12px;
	line-height: 27px;
}

.menu1f>h1, .menu1f>h2, .menu1>h1, .menu1>h2 {
	font-size: 14px;
}

.menu1 {
	text-align: center;
	padding: 1em;
	margin: 1px;
	border: 1px solid #a6a6a6;
	color: #fff;
	background-color: #333;
}

.desc {
	padding: 2em;
	text-align: justify;
	border: 1px solid #a6a6a6;
	margin: 0 1px 1px;
}

.watchbox {
	background-color: #1a171717;
	font-weight: 700;
	animation: blinks 1s linear infinite;
}

.iklan1 {
	margin: 0 1px 1px;
	text-align: center;
	border: 1px solid #a6a6a6;
	border-bottom: none;
	padding: 1em;
}

.column {
	flex: 3;
}

.imgads {
	object-fit: cover;
	width: 100%;
	height: 67px;
}

.iklan2 {
	border: 1px solid #a6a6a6;
	text-align: center;
	padding: 3px 4px 1px 4px;
	margin: 0 1px 1px;
	font-weight: 700;
}

.menuh {
	border: 1px solid #454545;
	text-align: justify;
	color: #fff;
	background-color: #212121;
	margin: 1px;
	padding: 1em 2px 1em 1em;
	font-weight: 700;
}

.menuh1 {
	border: 1px solid #585858;
	text-align: justify;
	color: #fff;
	background-color: #212121;
	margin: 1px;
	padding: 1em 2px 1em 1em;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}

.date {
	color: #fff;
	padding: 3px 3px 4px;
	border: 1px solid #a6a6a6;
	text-align: center;
	background: linear-gradient(179.4deg,#0c1445 -16.9%,#471e54 119.9%);
	margin: 0 1px;
	font-weight: 700;
}

.iconh {
	display: inline-flex;
	vertical-align: top;
	padding-right: 7px;
}

.spacenews {
	padding: 2px;
	margin: 0 1px 1px;
	border: 1px solid #a6a6a6;
	text-align: center;
}

.space {
	padding: 2px;
	margin: 0 1px 1px;
	border: 1px solid #a6a6a6;
}

.news {
	border: 1px solid #454545;
	text-align: justify;
	color: #fff;
	margin: 2px;
	padding: 5px;
	background-color: #1e1e1e;
}

.newstitle {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	border-top: 1px solid #323232;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: -webkit-auto;
}

.newsitem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}

.spacefoot {
	padding: 2px;
	margin: 0 1px 1px;
	border: 1px solid #a6a6a6;
	background-color: #212121;
	display: list-item;
	list-style: none;
}

.footc {
	padding: 5px;
	display: inline;
	color: #9fa8b0;
}

.footer {
	background-color: #130f40;
	background-image: linear-gradient(315deg,#130f40 0,#000 74%);
	border: 1px solid #a6a6a6;
	margin: 1px;
	justify-content: space-between;
	display: flex;
	color: #fff;
	padding: 1em 2px 1em 1em;
}

.footcount {
	padding-right: 1em;
}

.badgesdw {
	filter: drop-shadow(5px 5px 5px #222);
	border-left: 1px solid #fff;
}

.onmatchbox {
	margin: 1px;
	border: 1px solid #a6a6a6;
	padding-left: 3px;
	padding-right: 3px;
}

.match {
	background-color: #0c0b0b;
	border: 1px solid #323232;
	padding: 1em;
	margin: 0 1px;
	padding-top: 2em;
}

.eventliga {
	border: 1px solid #a6a6a6;
	padding: 2px;
	margin: 1px;
}

.upsmatch {
	background-color: #1e1e1e;
	border: 1px solid #323232;
	margin: 0 1px;
	display: flex;
	justify-content: space-between;
	font-size: 9px;
	font-weight: 700;
}

.col1 {
	width: 8.33333333%;
	flex: 0 0 auto;
	margin: 0;
}

.col5 {
	width: 41.66666667%;
	flex: 0 0 auto;
}

.imglk {
	filter: contrast(0) brightness(2);
}

.onmatch {
	background: #1e1e1e;
	border: 1px solid #424242;
	padding: none;
	margin: 3px 0 3px 0;
	font-weight: 700;
}

.onmatch td {
	padding: 2px;
}

.live:hover {
	background-color: #303030 !important;
}

.status {
	position: relative;
	text-align: center;
	height: 100%;
}

.statusfloatright {
	position: absolute;
	right: 1px;
	top: 7px;
	text-align: center;
}

.player {
	border: 2px solid #ff0;
	margin: 1px;
	text-align: center;
}

.sdwteam {
	filter: drop-shadow(0 0 2px gray);
	margin: 3px;
}

.desctxt {
	font-size: 10px;
}

.footx {
	padding-left: 4px;
	border-left: 1px solid lightgrey;
	display: table-caption;
}

.centerbox {
	text-align: center;
}

.menu404 {
	text-align: center;
	padding: 1em;
	padding-bottom: 10em;
	padding-top: 10em;
	margin: 1px;
	border: 1px solid #a6a6a6;
	color: #fff;
	background-color: #333;
}

.statusfloatright1 {
	position: absolute;
	right: 4px;
	top: 4px;
	text-align: center;
}

.blinksoft {
	font-size: 11px;
	font-weight: bold;
	color: red;
	animation: blinker 2.5s linear infinite;
}

.watchhead {
	background-color: #1e1e1e;
	line-height: 14.6px;
	border: 1px solid #a6a6a6;
	margin: 1px;
	font-size: 10px;
	font-weight: 700;
}

.watchhead td {
	padding: 2px;
}

.matchinfo {
	background-color: #1e1e1e;
	line-height: 14.6px;
	border: 1px solid #a6a6a6;
	margin: 1px;
}

.infobox {
	border: 1px solid #454545;
	text-align: justify;
	color: #fff;
	margin: 2px;
	padding: 1em;
	background-color: #1e1e1e;
	display: block;
}

.watchscore {
	color: #fff;
	animation: blink 1s linear infinite;
}

.tab1 {
	tab-size: 2;
}

.iklan3 {
	border: none;
	text-align: center;
	padding: 3px 4px 1px 4px;
	margin: 1px;
	font-weight: 700;
}

.banner {
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0;
}

.buttonh {
	font-size: 20px;
	outline: 0;
	padding: 5px;
	margin: 5px;
	display: inline;
	color: #9fa8b0;
	font-weight: 700;
	text-shadow: 1px 1px #1f272b;
	border: 1px solid #1c252b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #232b30;
	background: -moz-linear-gradient(top,#3d4850 3%,#313d45 4%,#232b30 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(3%,#3d4850), color-stop(4%,#313d45), color-stop(100%,#232b30) );
	box-shadow: 1px 1px 1px rgb(0 0 0/0.2);
	-moz-box-shadow: 1px 1px 1px rgb(0 0 0/0.2);
	-webkit-box-shadow: 1px 1px 1px rgb(0 0 0/0.2);
}

.buttonh:hover {
	color: #fff;
	background: #4c5a64;
	background: -moz-linear-gradient(top,#4c5a64 3%,#404f5a 4%,#2e3940 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(3%,#4c5a64), color-stop(4%,#404f5a), color-stop(100%,#2e3940) );
}

.buttonh:active {
	background-position: 0 top;
	position: relative;
	top: 1px;
	color: #fff;
	padding: 5px;
	background: #20282d;
	background: -moz-linear-gradient(top,#20282d 3%,#252e34 51%,#222a30 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(3%,#20282d), color-stop(51%,#252e34), color-stop(100%,#222a30) );
}

.livetxt {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	text-transform: uppercase;
}

.loadbox {
	padding-top: 2em;
}

.righttxt {
	text-align: right;
}

#upsmatchtxt {
	line-height: 19.5px;
}

.socialbox {
	border: 1px solid #323232;
	margin: 0 1px;
}

.spacebc {
	padding-left: 4px;
	padding-right: 4px;
	margin: 0 1px 1px;
	border: 1px solid #a6a6a6;
}

td.onmatchs {
	padding: 0;
}

td.comp {
	padding: 0;
	padding-top: 2px;
}

.comp {
	font-size: 10px;
	color: red;
}

.desc>h1 {
	font-size: 14px;
	text-align: center;
}

.desc>h2 {
	font-size: 13px;
}

.aboutlogo {
	align-items: center;
	filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

.card {
	display: flex;
	flex-direction: column;
	width: 12.5rem;
	background: #212223;
	color: #969799;
	padding: 0.3rem;
	border-radius: 10px;
	border: 1px solid hsla(0,0%,100%,0.1);
}

.choice i {
	font-size: 1rem;
}

.menuads {
	border: 1px solid #454545;
	text-align: justify;
	color: #fff;
	background-color: #212223;
	margin: 1px;
	padding: 1em;
	font-weight: 700;
}

.descpp {
	padding: 2em;
	text-align: justify;
	border: 1px solid #a6a6a6;
	margin: 0 1px 1px;
}

.descpp>h1 {
	font-size: 14px;
	text-align: center;
}

.descpp>h2 {
	font-size: 13px;
}

.descpp>h3 {
	font-size: 12px;
}

.menu1f {
	text-align: center;
	margin: 1px;
	border: 1px solid #a6a6a6;
	color: #fff;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cols {
	width: 3%;
	text-align: center;
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
	text-align: 'center';
	vertical-align: 'middle';
}

.textl {
	padding: 0;
	vertical-align: middle;
}

.centeredImage {
	text-align: center;
	vertical-align: middle;
}

.centeredImage img {
	display: inline-block;
	margin: 0 auto;
}

.countdown {
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

.boxdat {
	display: flex;
	justify-content: space-between;
	padding: 2px;
	margin: 0;
	background-color: #434343;
	margin-bottom: 4px;
}

.loadbox {
	margin: 1px;
	border: 1px solid #a6a6a6;
	padding: 1em;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@keyframes blink {
	50% {
		opacity: .5;
	}
}

@media only screen and (max-width:768px) {
	.imgads {
		height: 42px;
	}
}

.choice {
	display:flex;
	align-items:center;gap:0.5rem;padding:0.6rem 0.4rem;border-radius:5px;font-size:0.8rem;font-weight:500;line-height:1;&:hover {
		background: #373839;
		color: #fff;
	}

	&:active {
		transition: all 0.2s ease-in-out;
		background: #303031;
		transform: scale(0.97);
	}
} 